<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ChitietSP</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="../style/chitietsp.css">
</head>
<body>
	<div class="header">
		<div class="header-left">
		<span>PHONE: +01 256 25 235</span>    
		<span>EMAIL:INFO@EISER.COM</span>
		</div>
		<div class="header_right">
			<span>GIFT CARD</span>
			<span>TRACK ORDER</span>
			<span>LANGUAGE</span>
			
				<span><a href="dangnhap.html">SIGN IN</a></span>
				<span><a href="dki.html">CREATE ACCOUNT</a></span>
		</div> 
	</div>
	<div class="menu">
		<div class="logo">
			<a href="index.html"><img src="../images/logo.png"></a>
		</div>
		<ul class="main-menu">    
            <li>
              <a href="product.html">Product</a><i class="fas fa-chevron-down"></i>
              <ul class="sub-menu">
                <li><a href="#">Featured Product</a></li>
                <li><a href="#">Most Popular</a></li>
                <li><a href="#">Trending Product</a></li>
              </ul>
            </li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
   	</ul>
          <div class="icon-menu">
          	<a href="#"><i class="fas fa-search"></i></a>
          	<a href="#"><i class="fas fa-shopping-cart"></i></a><span id="totalCartItemId" class="badge-bg-dark text-red ms-1 rounded-pill">0</span>
          	
          </div>
	</div>

<div class="container"> 
 <div class="card"> 
  <div class="container-fliud"> 
   <div class="wrapper row"> 
    <div class="preview col-md-6"> 
     <div class="preview-pic tab-content"> 
      <div class="tab-pane active" id="pic-1"><img src="../images/products/1.jpg" alt="">
      </div> 
      <div class="tab-pane" id="pic-2"><img src="../images/products/2.jpg" alt="">
      </div> 
      <div class="tab-pane" id="pic-3"><img src="../images/products/3.jpg" alt="">
      </div> 
      <div class="tab-pane" id="pic-4"><img src="../images/products/2.jpg" alt="">
      </div> 
      <div class="tab-pane" id="pic-5"><img src="../images/products/1.jpg" alt="">
      </div> 
     </div> 
     <ul class="preview-thumbnail nav nav-tabs">
      <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="../images/products/1.jpg" alt=""></a>
      </li> 
      <li><a data-target="#pic-2" data-toggle="tab"><img src="../images/products/2.jpg" alt=""></a>
      </li> 
      <li><a data-target="#pic-3" data-toggle="tab"><img src="../images/products/3.jpg" alt=""></a>
      </li> 
      <li><a data-target="#pic-4" data-toggle="tab"><img src="../images/products/2.jpg" alt=""></a>
      </li> 
      <li><a data-target="#pic-5" data-toggle="tab"><img src="../images/products/1.jpg" alt=""></a>
      </li> 
     </ul> 
    </div> 
    <div class="details col-md-6"> 
     <h3 class="product-title">Red Woman Features</h3> 
     <div class="rating"> 
      <div class="stars"> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> 
      </div> <span class="review-no">123 đánh giá</span> 
     </div> 
     <p class="product-description">Với chiếc váy này bạn có thể diện đi chơi, đi làm đều rất phù hợp. Khi mặc vào, chắc chắn bạn sẽ có cảm nhận hoàn toàn khác biệt vì màu sắc phong phú không chỉ khiến bộ trang phục trở nên bắt mắt mà còn tôn thêm vẻ quyến rũ, gợi cảm và trưởng thành của mình.            Khi diện những bộ thời trang  xinh đẹp này, bạn đừng quên kèm theo cho mình một số phụ kiện phù hợp như túi xách , nón , kính mát  hay những đôi guốc cao tôn dáng nhé!            Chúc  bạn có thêm những bộ đồ thời trang chất luọng theo phong cách đa màu sắc cực xinh xắn và quyên rũ !</p> 
     <h4 class="price">Giá bán: <span class="price_1">350.000 đ</span></h4> 
     <p class="vote"><strong>81%</strong>  người mua hài lòng với sản phẩm này <strong>(87 bình chọn)</strong>
     </p> 
     <h5 class="sizes">Kích cỡ: <span class="size" data-toggle="tooltip" title="small">s</span> <span class="size" data-toggle="tooltip" title="medium">m</span> <span class="size" data-toggle="tooltip" title="large">l</span> <span class="size" data-toggle="tooltip" title="xtra large">xl</span> 
     </h5> 
     <h5 class="colors">Màu: <span class="color orange not-available " data-toggle="tooltip" title="Not In store"></span> <span class="color green"></span> <span class="color blue"></span> 
     </h5> 
     <div class="action"> <a href="#" target="_blank">    <button class="add-to-cart btn btn-default" type="button">MUA NGAY</button>            </a>      <a href="#" target="_blank">    <button class="add-to-cart1 btn btn-default" type="button">THÊM VÀO GIỎ HÀNG</button>            </a>              
     </div> 
    </div> 
   </div> 
  </div> 
 </div>
</div> 


	<div class="footer">
	<div class="menu_footer">
		<div class="row">
		<div class="menu_left">
			<div class="col-md-3 col-sm-6" id="mn1">
				<div class="sub1">
				<h4>About us</h4>
					<ul>
						<li>
						<a href="#">Who we are</a>
						</li>
						<li>
						<a href="#">Work with us</a>
						</li>
						<li>
						<a href="#">Become a supplier</a>
						</li>
						<li>
						<a href="#">Investor relations </a>
						</li>
						<li>
						<a href="#">Our devices</a>
						</li>
						<li>
						<a href="#">Affiliate program</a>
						</li>
					</ul>	
					</div>
			</div>		
			<div class="col-md-3 offset-md-1 col-sm-6" id="mn2">
				<div class="sub1">
				<h4>Useful links</h4>
					<ul>
						<li>
						<a href="#">Who we are</a>
						</li>
						<li>
						<a href="#">Work with us</a>
						</li>
						<li>
						<a href="#">Become a supplier</a>
						</li>
						<li>
						<a href="#">Investor relations </a>
						</li>
						<li>
						<a href="#">Our devices</a>
						</li>
						<li>
						<a href="#">Affiliate program</a>
						</li>
				</ul>	
			</div>
			</div>
			<div class="col-md-3 offset-md-1 col-sm-6" >
				<div class="sub1">
				<h4>Online shopping</h4>
					<ul>
						<li>
						<a href="#">Who we are</a>
						</li>
						<li>
						<a href="#">Work with us</a>
						</li>
						<li>
						<a href="#">Become a supplier</a>
						</li>
						<li>
						<a href="#">Investor relations </a>
						</li>
						<li>
						<a href="#">Our devices</a>
						</li>
						<li>
						<a href="#">Affiliate program</a>
						</li>
					</ul>
				</div>
				</div>					
			</div>
		<div class="menu_right">
		  <div class="rt">
		  	<h4>Experience app on mobile</h4>
		  			<div class="app">
		  				<a href="#" class="android">
			  				<span><i class="fab fa-android"></i>
			  				GET IT ON</span>
			  				<p>GOOGLE PLAY</p>
		  				</a>
		  				<a href="#" class="appstore">
		  					<span><i class="fab fa-apple"></i>
		  					GET IT ON</span>
		  					<p>APPSTORE</p>
		  				</a>
		  			</div>
		  </div>
		  <hr width="80%">
		  <div class="rb">
		  	<h4>Follow Us</h4>
		  	<div class="icon_footer">
		  		<!-- <i class="fab fa-facebook-f"></i> -->
		  		<i class="fab fa-facebook-f"></i>
					<i class="fab fa-twitter"></i>
					<i class="fab fa-pinterest"></i>
					<i class="fab fa-instagram"></i>
				
		  	</div>
		  </div>
		</div>
		</div>
		</div>  
	<hr width="100%">
	<div class="end_footer">
		<p class="copyright">Copyright © 2019 <a href="#">themeies.com</a>. All rights reserved.</p>
	</div>
</div>
	
	
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="../script/chitietsp.js"></script>
</html>